/* CSS */

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  max-width: 120px;
}

.navbar-links-container a {
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-bar-menu-container {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 2rem;
}

.primary-button,
.secondary-button {
  background-color: rgb(159, 189, 245);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 1rem;
  outline: none;
  padding: 0.9rem 1.75rem;
  transition: 0.3s;
}

.primary-button:hover,
.secondary-button:hover {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 100px;
  }

  .navbar-links-container {
    display: none;
  }

  .nav-bar-menu-container {
    display: flex;
  }

  .home-banner-container {
    max-width: 450px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .home-primary-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 0;
  }

  .home-image-section,
  .home-text-section {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .primary-heading,
  .primary-text {
    max-width: 90%;
    margin: 0 auto 1.5rem;
  }
}

/*seção da home*/
.home-banner-container {
  display: flex;
  padding: 4rem;
  position: relative;
}

.home-bannerimage-container {
  max-width: 100%;
  position: absolute;
  right: -90px;
  top: -150px;
  z-index: -2;
}

.home-image-section {
  display: flex;
  flex: 1;
}

.home-primary-image img {
  height: 640px;
  width: 650px;
  margin-left: 90px;
  object-fit: cover;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #6a6a6a;
  margin: 1.5rem 0;
}

/*Seção da parte sobre nós */

.about-section-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;

}
.about-section-image-container img {
  margin-bottom: 85px;
  margin-left: 240px;
}
.about-section-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}
.primary-subheading {
  color: rgb(8, 201, 239);
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem;
}
